.text {
    height: auto;
    width: 100vw;
    padding-top: 3vw;
    display: flex;
    flex-direction: row;

    img {
        height: 40vw;
        position: fixed;
    }

    area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 11vw;
        background-color: antiquewhite;
        z-index: -1;
    }

    section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vw;
        background-color: antiquewhite;
        z-index: -2;
    }

    div {
        width: 50%;
        padding: 2vw 2vw;
        display: flex;

        h1 {

            position: fixed;
            font-size: 5vw;
            font-family: normal;

        }



        p {
            display: block;
            padding-top: 6vw;
            width: 90%;
            font-size: 1.5vw;
            font-family: normal;
            position: relative;
            z-index: -2;
        }

        &:nth-child(1) {
            flex-direction: column;
            ;
        }

        &:nth-child(2) {
            justify-content: center;


        }
    }


}